<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.data.global.title != '' %}
          <h1 class="text-center">{{site.data.global.title}}</h1>
          {% endif %}

          {% if site.data.global.description != '' %}
          <h4 class="text-center">{{site.data.global.description}}</h4>
          {% endif %}

          {% if site.data.global.favorites != '' %}
          <p class="text-center text-muted">{{site.data.global.favorites}}</p>
          {% endif %}

          <div class="hero-buttons">
            <a href="https://github.com/{{ site.data.global.github }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
            <a href="https://linkedin.com/in/{{ site.data.global.linkedin }}"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i>LinkedIn</button></a>
            <a href="mailto:{{ site.data.global.email }}"><button class="btn btn-default btn-lg"><i class="fa fa-envelope fa-lg"></i>Email</button></a>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
